body {
    background: linear-gradient(135deg, #00122a 0%, #000a14 50%, #00122a 100%);
    background-size: 200% 200%;
    animation: background-move 10s ease infinite;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    /* Metallic gold gradient */
    background: linear-gradient(45deg, #6a4803, #f5ed91, #b78517, #f8ef8c, #AA771C);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gold-shine 3s linear infinite, slide-in-right 1s ease-out forwards;
    transition: transform 0.3s ease;
}

h1:hover, h1:active {
    transform: scale(1.1);
}

.lead {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.4rem;
    /* Metallic gold gradient */
    background: linear-gradient(45deg, #6a4803, #f5ed91, #b78517, #f8ef8c, #AA771C);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none; /* Remove or adjust to your liking */
    animation: gold-shine 3s linear infinite, slide-in-left 1s ease-out forwards;
}

p:last-of-type {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Initially hidden */
    animation: fade-in 3s ease-out forwards; /* Removed delay from animation shorthand */
    animation-delay: 1s; /* Added separate animation-delay property */
}

/* Keyframes for a subtle shimmer effect */
@keyframes gold-shine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes background-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Keyframes for sliding in from the right */
@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Keyframes for sliding in from the left */
@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Keyframes for fading in */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
